
body {
    background: linear-gradient(to bottom, #141e30, #243b55);
    color: white;
}

.register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 5px;
    background-color: #202b3d;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

    .register-container h2 {
        margin-bottom: 30px;
        font-weight: bold;
        text-align: center;
        color: white;
    }

    .register-container .form-group {
        margin-bottom: 20px;
    }

    .register-container label {
        font-weight: bold;
        color: white;
    }

    .register-container .form-control {
        background-color: #273747;
        border: none;
        color: #fff;
        border-radius: 3px;
        padding: 8px 12px;
    }

    .register-container .btn-primary {
        background-color: #3f84e5;
        border: none;
        color: #fff;
        border-radius: 3px;
        padding: 10px;
        font-weight: bold;
        width: 100%;
    }

        .register-container .btn-primary:hover {
            background-color: #306cb2;
        }

    .register-container .form-check-label {
        color: #a9a9a9;
    }

