html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: linear-gradient(to bottom, #141e30, #243b55);
    color: white;
    padding-bottom: 60px; /* Add padding at the bottom for the footer */
    min-height: 100vh; /* Set minimum height to 100% of the viewport height */
    position: relative;
}
.post-details-content img{
    max-width:100%

}
