] /* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-icon {
    display: none;
    border: none;
    background: none;
    padding: 5px;
    cursor: pointer;
}

.menu-items {
    display: flex;
    list-style-type: none;
}

    .menu-items li {
        margin-left: 10px;
    }

        .menu-items li a {
            color: #333;
            text-decoration: none;
        }

/* Responsive styles */
@media only screen and (max-width: 768px) {
    html {
        font-size: 16px;
    }

    .menu-items {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #f1f1f1;
        padding: 10px;
    }

    .menu-icon {
        display: block;
    }

    .menu-items li {
        margin-left: 0;
        margin-bottom: 10px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    background: linear-gradient(to bottom, #141e30, #243b55);
    color: white;
    padding-bottom: 60px; /* Add padding at the bottom for the footer */
    min-height: 100vh; /* Set minimum height to 100% of the viewport height */
    position: relative;
}

.post-details-content img {
    max-width: 100%;
}
